.facilities {
    max-width: 1136px;
    display: flex;
    flex-direction: column;
    margin: 0 139px 112px 165px;
    outline: 1px red solid;
}

@media screen and (max-width: 1280px) {
    .facilities {
        width: calc(100% - 15px * 2);
        margin: 0 auto 165px;
    }
}