.description {
    display: flex;
    margin-bottom: 112px;
    margin: 0 165px 112px;
    outline: 1px red solid;
}

@media screen and (max-width: 1280px) {
    .description {
        max-width: calc(100% - 15px * 2);
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 800px) {
    .description {
        flex-direction: column;
    }
}