.page {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 61px;
    font-family: 'Lato', 'Lora', sans-serif;
    background-color: #FFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 960px) {
    .page {
        padding-top: 20px;
    }
}