.hero__title {
    max-width: 667px;
    margin: 0 61px 0 0;
    font-family: 'Lora', 'Lato', sans-serif;
    font-weight: 700;
    font-size: 52px;
    line-height: 67px;
    color: #10375C;
}

@media screen and (max-width: 960px) {
    .hero__title {
        font-size: 35px;
        line-height: 1.2;
        margin-right: 35px;
    }
}

@media screen and (max-width: 500px) {
    .hero__title {
        font-size: 25px;
        line-height: 1.2;
        margin-right: 20px;
        margin-bottom: 10px
    }
}