.spaces__subimage {
    max-width: 90px;
    max-height: 90px;
    position: absolute;
    top: 16px;
    right: 16px;
}

@media screen and (max-width: 1280px) {
    .spaces__subimage {
        max-width: 75px;
        max-height: 75px;
    }
}
