.hero__button {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    cursor: pointer;
    padding: 12px 24px;
}

.hero__button:hover {
    transform: scale(0.9);
    transition: 0.5s ease-in-out;
}

@media screen and (max-width: 960px) {
    .hero__button {
        font-size: 13px;
        line-height: 16px;
    }
}

@media screen and (max-width: 500px) {
    .hero__button {
        padding: 6px 12px;
        font-size: 10px;
        line-height: 1;
    }
}
